#Put me in /lib/systemd/system/
[Unit]
Description=File Backup Service Client
After=network.target

[Service]
Type=simple
User=frank
ExecStart=/home/frank/.local/bin/file_backup_client.sh /home/frank
Restart=never # or always, on-abort, etc

[Install]
WantedBy=multi-user.target